<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<!-- 配置sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>	
	</bean>           
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>	
	</bean>
	
	<!-- 配置事务的传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 那些类的哪些方法参与事务 -->
	<aop:config>
		<aop:pointcut id="allManagerMethod" expression="execution(* com.dao.*.*(..))"/>
		<aop:advisor pointcut-ref="allManagerMethod" advice-ref="txAdvice"/>
	</aop:config>
	
	
	<!--           daos          -->
	<bean id="userDao" class="com.dao.impl.UserDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="susheDao" class="com.dao.impl.SusheDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="studentDao" class="com.dao.impl.StudentDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="jiaofeiDao" class="com.dao.impl.JiaofeiDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="zhusuDao" class="com.dao.impl.ZhusuDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="yktDao" class="com.dao.impl.YktDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="danganDao" class="com.dao.impl.DanganDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="tijianDao" class="com.dao.impl.TijianDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="banjiDao" class="com.dao.impl.BanjiDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="fenbanDao" class="com.dao.impl.FenbanDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	<bean id="allDao" class="com.dao.impl.AllDaoImpl" >
		<property name="sessionFactory"><ref bean="sessionFactory" /></property>
	</bean>
	
	
	<!--           actions          -->
	<bean id="manageAction" class="com.action.ManageAction" scope="prototype">

		<property name="userDao"><ref bean="userDao" /></property>
		
		<property name="susheDao"><ref bean="susheDao" /></property>
		
		<property name="studentDao"><ref bean="studentDao" /></property>
		
		<property name="jiaofeiDao"><ref bean="jiaofeiDao" /></property>
		
		<property name="zhusuDao"><ref bean="zhusuDao" /></property>
		
		<property name="yktDao"><ref bean="yktDao" /></property>
		
		<property name="danganDao"><ref bean="danganDao" /></property>
		
		<property name="tijianDao"><ref bean="tijianDao" /></property>
		
		<property name="fenbanDao"><ref bean="fenbanDao" /></property>
		
		<property name="banjiDao"><ref bean="banjiDao" /></property>
		
		<property name="allDao"><ref bean="allDao" /></property>
		
	</bean>
	
</beans>
