<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/baodao_db?characterEncoding=utf-8</property>

<!--  指定连接数据库的用户名和密码。-->
<property name="hibernate.connection.username">root</property>

<property name="hibernate.connection.password">root</property>


		 <!-- Echo all executed SQL to stdout -->
	  
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
	
		
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		
		  <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
		 
		 <!-- 数据库没有改表的情况下可以自动生成 -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class="com.model.User"/>
		
		<mapping class="com.model.Sushe"/>
		
		<mapping class="com.model.Student"/>
		
		<mapping class="com.model.Jiaofei"/>
		
		<mapping class="com.model.Zhusu"/>
		
		<mapping class="com.model.Ykt"/>
		
		<mapping class="com.model.Dangan"/>
		
		<mapping class="com.model.Tijian"/>
		
		<mapping class="com.model.Fenban"/>
		
		<mapping class="com.model.Banji"/>
		
		<mapping class="com.model.All"/>
		
		
	</session-factory>
</hibernate-configuration>